@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url(https://fonts.googleapis.com/css?family=Archivo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;



header h1{
  font-family: 'Pokemon Solid', sans-serif;
  font-display: swap;
  font-size: xx-large;
  color: #feca1b;
  text-shadow:
  3px 3px 0 #3761a8,
-1px -1px 0 #3761a8,  
 1px -1px 0 #3761a8,
 -1px 1px 0 #3761a8,
  1px 1px 0 #3761a8;
 
}

header{
  border-bottom: 20px solid rgb(0 0 0 / 0.5);
}

.type {
	border: 2px solid #000;
	border-radius: 5px;
	padding: 2px 8px;
	color: #fff;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.normal {
	background-color: #A8A878 !important;
	border-color: #6D6D4E !important; 
}

.fire {
	background-color: #F08030 !important; 
	border-color: #9C531F !important; 
}
.water {
	background-color: #6890F0 !important; 
	border-color: #445E9C !important; 
}

.electric {
	background-color: #F8D030 !important; 
	border-color: #A1871F !important; 
}

.grass {
	background-color: #78C850 !important;
	border-color: #4E8234 !important;
}

.ice {
	background-color: #98D8D8 !important; 
	border-color: #638D8D !important; 
}

.fighting {
	background-color: #C03028 !important; 
	border-color: #7D1F1A !important; 
}

.poison {
	background-color: #A040A0 !important; 
	border-color: #682A68 !important; 
}

.ground {
	background-color: #E0C068 !important; 
	border-color: #927D44 !important; 
}

.flying {
	background-color: #A890F0 !important; 
	border-color: #6D5E9C !important; 
}

.psychic {
	background-color: #F85888 !important; 
	border-color: #A13959 !important; 
}

.bug {
	background-color: #A8B820 !important; 
	border-color: #6D7815 !important; 
}

.rock {
	background-color: #B8A038 !important; 
	border-color: #786824 !important; 
}

.ghost {
	background-color: #705898 !important; 
	border-color: #493963 !important; 
}

.dragon {
	background-color: #7038F8 !important; 
	border-color: #4924A1 !important; 
}
.dark {
	background-color: #705848 !important; 
	border-color: #49392F !important; 
}

.steel {
	background-color: #B8B8D0 !important; 
	border-color: #787887 !important; 
}

.fairy {
	background-color: #EE99AC !important; 
	border-color: #9B6470 !important; 
}

@layer components {
  .grasstype {
    @apply bg-green-600 text-white
  }
}

@layer base {
  

  nav a {
    @apply mx-2 hover:text-gray-900 items-center justify-center content-center sm:flex flex-col 
  }
}

